body {
    background-color: #E7F6F2;
}

hr {
    /* background-color: white; */
    border-style: none;
    border-top: 5px dotted;
    border-color: #bebebe;
    width: 5%;
}

h1, h3 {
    color: #66bfbf;
}